<div class="dashboard-container">
  <nav class="navbar">
    <h1 class="navbar-title">AutoFix</h1>
    <div class="navbar-links">
      <a routerLink="/mis-vehiculos" class="btn-nav" *ngIf="rol.toLowerCase() === 'conductor' || rol.toLowerCase() === 'administrador'">
        Mis Vehículos
      </a>
      <a routerLink="/mis-tecnicos" class="btn-nav" *ngIf="rol.toLowerCase() === 'taller' || rol.toLowerCase() === 'administrador'">
        Mis Técnicos
      </a>
      <a routerLink="/roles" class="btn-nav" *ngIf="rol.toLowerCase() === 'administrador'">
        Gestionar Roles
      </a>
      <button class="btn-logout" (click)="cerrarSesion()">
        <span class="material-icons">logout</span>
        Cerrar Sesión
      </button>
    </div>
  </nav>

  <div class="content">
    <h2>Bienvenido a AutoFix!</h2>
    <p *ngIf="rol.toLowerCase() === 'conductor'">Reporta emergencias vehiculares desde aquí.</p>
    <p *ngIf="rol.toLowerCase() === 'administrador'">Panel de administración del sistema.</p>
    <p *ngIf="rol.toLowerCase() === 'taller'">Gestiona las solicitudes de asistencia.</p>
  </div>
</div>